@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(216, 180, 63),rgb(241, 56, 31));
    color:white;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
}
.process, .success, .error{
    height: 2em;
    position: absolute;
    top:0;
    width: 100%;
    background: rgba(37, 37, 37, 0.315);
    line-height: 2em;
    text-align: center; 
}
.success{
    background: rgba(8, 235, 0, 0.315); 
}
.error{
    background: rgba(235, 0, 0, 0.315); 
}
main {
    height:  calc(100% - 2.5em);
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;
    margin-top:10px;
    flex: 1 0 auto;
 
}
.current {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.location, .temperature-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icon{
    width:40%;
}
.temperature-section{
    flex-direction: column;
    font-size: 20px;
}
.degree-section{
    display: flex;
    align-items: center;

}
.degree-section span{
    font-size: 40px;
}
.degree-section h2{
    font-size: 40px;
}
.next-days{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.day-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:5px;
    border-radius:5px;
    flex-basis:30%;
    margin:5px;
    background: rgba(255, 255, 255, 0.479);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 20px;
}

.content{
    text-align: center;
}
.day-card .content ul{
    list-style-type: none;
}
.sub-icon{
    padding:5px;
    width: 35%;
}
footer{   
    height: 2.5em;
    position: absolute;
    bottom:0;
    width: 100%;
    background: rgba(37, 37, 37, 0.315);
    line-height: 2.5em;
    text-align: center;
    flex-shrink:0;
}
footer a{
    text-decoration: none;
    color: white;
}

@media (max-width: 768px){
    body{
        height: 100%;
        justify-content: flex-start;
    }
    .day-card{
        flex-basis:90%;
    }

}